<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js CI/CD Page</title>
  <link rel="stylesheet" href="/style.css">
  <script>
    // Display the current date and time
    function displayDateTime() {
      const now = new Date();
      document.getElementById("dateTime").textContent = `Current Date & Time: ${now.toLocaleString()}`;
    }

    window.onload = displayDateTime;
  </script>
</head>
<body>
  <h1>Welcome to My Node.js App!</h1>
  <p>Hello, Node.js with CI/CD Pipeline! By Muhammad Rasikh Riaz. Triggered by a successful GitHub webhook automation.</p>
  
  <p id="dateTime"></p>
</body>
</html>
